<!DOCTYPE html>

<html lang="en">

<head>
    <title>Bagel</title>
    <link rel="icon" href="https://cdn.discordapp.com/icons/516302634722918401/02cea9ca6d2c7a864f3e98da2a882e01.webp?size=128">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{bagel}}
        <h2>Leaderboard</h2>
        <p id="lb1"></p>
        <p id="lb2"></p>
        <p id="lb3"></p>
        <p id="lb4"></p>
        <p id="lb5"></p>
    </div>

    {{>footer}}

    <script src="/js/bagel/app.js"></script>
</body>

</html>