<!DOCTYPE html>

<html lang="eng">

<head>
    <title>NoLife</title>
    <link rel="icon" href="https://cdn.discordapp.com/icons/516302634722918401/02cea9ca6d2c7a864f3e98da2a882e01.webp?size=128">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>mhm kinda official nolife website thing yes? its 5am and i have need to 'wake up' in 1 hour to go to skoul alkdgjdkjg, front end kinda ugly tho :')</p>

        <form>
            <input placeholder="useless, have fun">
            <button>E</button>
        </form>
    </div>

    {{>footer}}

    <script src="/js/index/app.js"></script>
</body>

</html>